{% extends "base.html" %}
{% block title %}Index | {{ super() }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}
{% block body %}
<section>
<header>Click on any of the items</header>
<article id="osm-dijkstra">
<header>OSM - dijkstra</header>
<img src="/static/img/thumbs/osm-dijkstra.png" alt="OSM - Dijkstra" width="200" height="150" />
</article>
<article id="mtc-dijkstra">
<header>MTC - dijkstra</header>
<img src="/static/img/thumbs/mtc-dijkstra.png" alt="MTC - Dijkstra" width="200" height="150" />
</article>
<article id="mtc-nonsc">
<header>MTC - nonsc</header>
<img src="/static/img/thumbs/mtc-nonsc.png" alt="MTC - Nonscheduled" width="200" height="150" />
</article>
</section>
{% endblock %}
