<!doctype html>
<html>
    <head>
        <title>dotpath - OpenLayers Routing Tester</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/OpenLayers.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script>
            $(document).ready(function () {
                var map;
                var start_marker;
                var finish_marker;
                CreateMap();
            });
        </script>
    </head>
    <body>
        <div id="map-container">
            <div id="map"></div>
        </div>
    </body>
</html>
